{% extends "layout.html.twig" %}

{% block title 'Admin articles' %}

{% block content %}
    <h2>Articles</h2>
    <p><a href="{{ path('admin_article_edit') }}">Ajouter un lien</a></p>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Contenu</th>            
            <th>Résumer</th>
            <th>Rubriques</th>
            <th width="200px"></th>
        </tr>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.shortContent }}</td>
                <td>{{ article.categoryName }}</td>
                <td>
                    <a href="{{ path('admin_article_edit', { id: article.id }) }}" class="btn btn-primary">
                        Modifier
                    </a>

                    <a href="{{ path('admin_article_delete', { id: article.id }) }}" class="btn btn-danger">
                       Supprimer
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">Aucun Résultat</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}